body{
    text-align: center;
    background-color: rgb(48, 46, 46);
}
#contenedor{
    width: 300px;
    margin: 100px auto;
    background-color: rgb(88, 78, 66);
    padding: 10px;
}
p {
    color: azure;
}